page-pay-result {
  .finishBtn{position: absolute;right: 0;bottom: 0;}
  .con{text-align:center;font-size:1.5rem;line-height:2rem;}
  .finish{position:absolute;right:.83rem;top:0;font-size:1.34rem;color:#1ABC9C;}
  .picBox{width:5rem;height:5rem;display:block;margin:1rem auto;}
  .userImg{font-size: 5rem;}
  .time{font-size:2.5rem;}
  .state{font-size: 5rem;}
  .dec{font-size:.6rem;color:#A9A9A9;}
  .type{line-height:4rem;}

}
