page-login {
  .scroll-content{padding-bottom:0 !important;}
  .item-block:first-child{border-top: 0!important;}
  .my-con{width:4rem;height:4rem;margin:5rem auto;}
  .personIcon{font-size:6rem;}
  .text-input::-moz-placeholder{font-size: 1.2rem;}
  .text-input:-ms-input-placeholder{font-size: 1.2rem;}
  .text-input::-webkit-input-placeholder{font-size: 1.2rem;}
  .mySize,.my-p a{font-size: 1.2rem;}
  .my-p{text-align:end;padding-right:1.2rem;font-size:1.2rem;margin-top:2rem;}
}

