page-operation-result {
  .list{background: #f9f9f9;}
  .resultBox{overflow: hidden;}
  .iconBox{width: 13.54rem;margin: 0 auto;}
  .succIcon{font-size: 20rem;}
  .state{font-size: 2rem;text-align: center;margin-bottom: .5rem;}
}
