page-set-up {
  .item{padding-left: 0;vertical-align: middle;font-size: 1.5rem;}
  .icons{display: block;width: 2rem;height: 2rem;vertical-align: middle;margin: 0 .5rem;float: left;}
  .list .item-block .item-inner{border-bottom: 1px solid #e4e4e4 !important;}
}
