page-recharge-result {
  .list{background: #f9f9f9;}
  .box{overflow: hidden;}
  .iconBox{width: 13.54rem;margin: 0 auto;}
  .stateIcon{font-size: 20rem;}
  .state{font-size: 2rem;text-align: center;margin-bottom: .5rem;}
  .tips{text-align: center;color: #666;}
}
