page-change-detail {
  .change{background:#F9F9F9;}
  .right{text-align: right}
  .cost{color:red}
  .income{color:#1abc9c}
  .mygrid{background:#fff;color:#666}
  .col{margin:0.5rem 0;}
  .mycol{padding:0}
}
