page-apply-refund {
  .mybg{background:#F9F9F9;}
  .item{font-size:1.4rem;}
  textarea{height:5rem;color:#666;}
  .label{color:#333 !important;margin-right:1rem;padding:5px}
  .myinput{color:#FF001F}
  .myitem{margin:13px .8rem 0 0;}
  .mylabel{position:relative;padding:5px 5px 5px 0}
  .label .des{color:#CCC !important;font-size:1rem;margin-left:.5rem;}
  .input-con{width:8rem;height:8rem;border:1px solid #D7DDE4;position:relative;text-align:center;}
  .img-con{width:8rem !important;height:8rem !important;display:block;float:left;margin-right:.3rem;}
  .input-con p{color:#ccc;}
  .imgInput{width:8rem;height:8em;-webkit-box-flex:0;-webkit-flex:0;flex:0;position:absolute;left:0;top:0;z-index:11;opacity:0}
  .imgInput .text-input{margin:0;padding:0;width:8rem;height:8rem;}
  .list .des-item .item-inner{border-bottom:none !important;}
  .applyBtn{width:90%;position:absolute;bottom:0;left:5%;}
  .input-item{padding-bottom:1.5rem;}
  .input-item ion-label{pointer-events:auto !important;}
  .addIcon{font-size:3rem;margin-top:1.5rem;color:#ccc;font-weight:bolder;}
  .input-item .label{margin-right:0}
  .del{width:20px;height:20px;position:absolute;z-index:999;right:0;top:0;display:block;background:url("../assets/imgs/del.png");background-size:100% 100%;}
}
