page-payment {
  .qrCodeBox{width: 15rem;height: 15rem;margin: 2.5rem auto;}
  .ticket{border-top: 1px solid #ddd!important;border-bottom: 1px solid #ddd!important; }
  .price{float: right;vertical-align: middle;line-height: 2rem;}
  .icons{display: inline-block;margin-right: .5rem;vertical-align: middle;}
  .icons img{width: 2rem;height: 2rem;vertical-align: middle;}
  .wayT{text-indent: .5rem;border-bottom: 1px solid #ddd;padding: 1.16rem;margin-bottom: 1px;font-size: 1.5rem;}
  .label{font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;}
}
