page-identity {
  .formBox{border-bottom:1px solid #ddd;margin-bottom:2rem;}
  .my-con{width:5rem;height:5rem;margin:2rem auto;}
  .personIcon{font-size:6rem !important;}
  .mytitle {font-size:1rem !important;}
  ion-list ion-input{font-size:1rem;}
  .announce{color: red;margin: .5rem 1.33rem}
  .confirm{margin-top: 2rem;}
}
