<div class="coupon-content">
  <ion-list no-lines>
    <ion-item *ngFor="let order of settledHistoryList">
      <div class="left">
        <p class="name">付款用户：{{order.name}}</p>
        <p class="money">实付款：{{order.money}}元</p>
        <p class="time">付款时间：{{order.time}}</p>
      </div>
      <div class="right">
        <p class="state">{{order.state}}</p>
        <p [ngClass]="[order.type=='0'? 'settled':'unsettled']">{{order.type==0?"已结算":"未结算"}}</p>
      </div>
    </ion-item>
  </ion-list>
  <no-data *ngIf="noData"></no-data>
</div>
